@{
    ViewData["Title"] = "Courses";
}

<p>
    <a asp-action="Search">New Search</a>
</p>

<h1>Student Search Results</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Grade Id</th>
            <th scope="col">Class Id</th>
            <th scope="col">Courses</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @await Html.PartialAsync("_StudentPartial", (Student) Model);
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
