@model StudentManagement.Models.AddCoursesViewModel
@{
    Layout = "~/Views/Shared/_Course.cshtml";
}

<h1>Enter Course Information</h1>
<form class="row g-3 needs-validation" novalidate method="post" action="Add">
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">CourseId</label>
        <input type="number" class="form-control" id="validationCustom01" asp-for="CourseId" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" id="validationCustom02" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-3">
        <label for="validationCustom03" class="form-label">Grade Id</label>
        <input type="number" class="form-control" asp-for="GradeId" id="validationCustom03" max="4" required>
        <div class="invalid-feedback">
            Please provide a valid grade.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>